* {
  box-sizing: border-box;
  font-family: Circe;
}

body {
  background-color: rgb(247, 247, 247);
}

.svg {
  height: 100px;
  fill: #b4423a;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.form__label {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: rgb(107, 107, 107);
}

.form__input-text {
  width: 100%;
  line-height: 40px;
  font-size: 22px;
  padding: 0 5px;
  margin-bottom: 5px;
  border: none;
  border: 1px solid rgb(214, 214, 214);
}

.form__input-text:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 8px 0px rgba(0, 144, 255, 0.25);
}

.form__radio .form__label {
  margin: 0 6px 0 3px;
}

.form__textarea {
  width: 100%;
  line-height: 40px;
  font-size: 25px;
  padding: 0 5px;
  margin-bottom: 5px;
  border: none;
  border: 1px solid rgb(214, 214, 214);
}

.form__textarea:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 8px 0px rgba(0, 144, 255, 0.25);
}

.form__button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border: none;
  background: rgb(36, 36, 36);
}

.form__button:hover {
  transition: 0.5s;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  background: white;
}

.form__button-box {
  display: flex;
  justify-content: flex-end;
}